<div *ngIf="tasks" class="center">   
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Status</th>
                <th scope="col" (click)="sort('task')">Task</th>
                
                <th scope="col">Action</th>
            </tr>
        </thead>
        
        <tr *ngFor="let notes of tasks | orderBy: key : reverse | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" >
            <th>
                <label class="container">
                    <input type="checkbox" [(ngModel)]="notes.status" [checked]="status"
                    (click)="updateCheck(notes.title, notes.id, !notes.status)">
                    <span class="checkmark"></span>
                    <span class="label success" *ngIf="notes.status">Success</span>
                </label>                          
                
                
            </th>
            <td>
                <div  *ngIf="editable && editId == notes.id" (keydown.esc)="status()" >
                    <input type="text" (keydown.esc)="status()" (blur)="status()" 
                    matInput (click)="$event.target.select()" [ngModel]="notes.title" [(ngModel)]="input"
                    onblur="this.focus()"  (keyup.enter)="onEnter(input, notes.id, notes.status)">
                </div>
                <div class="editable" *ngIf="editable == false || editId != notes.id" >
                   <div *ngIf="notes.status" >
                       <s> {{ notes.title }}</s>
                   </div>
                   <div *ngIf="!notes.status" (blur)="status()" autofocus (dblclick)="edit(notes.id)">
                        {{ notes.title }}
                   </div>
                </div>
            </td>
            <td>
                <button class="exitbtn" (click)="deleteCurrent(notes.id)" >X</button>
            </td>
        </tr>
    </table>

    <ngb-pagination *ngIf="tasks.length" class="justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="tasks.length"></ngb-pagination>
</div>

