.center {
  margin: auto;
  width: 50%;

  padding: 10px;
}
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn {
  width: 50%;
  background-color: #47a5ed;
  color: white;
  padding: 14px 0px 14px 0px;
  margin: 8px 0px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}
 .justify-content-center {
    display: flex !important;
    justify-content: center !important;
    }
  